click==6.7
dask==0.15.1
decorator==4.1.2
elasticsearch==2.3.0
Flask==0.12.2
gunicorn==19.7.1
image-match==1.1.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
networkx==1.11
numpy
olefile==0.44
Pillow==4.2.1
scikit-image
scipy==0.19.1
six==1.10.0
toolz==0.8.2
urllib3==1.22
Werkzeug==0.12.2
